<link href="../../Content/css/style.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "NGƯỜI DÙNG";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>CÔNG TY TRÁCH NHIỆM HỮU HẠN VÂN PHƯỚC.</h1>
                <br />
                <h2> SMS - Store Management System </h2>
            </hgroup>
        </div>
    </section>
}
<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>
<div class="grid_7">

    <a class="dashboard-module" href="@Url.Action("Show", "Account")">
        <img width="64" height="64" alt="edit" src="../../Content/images/user.png"></img>
        <span>THÔNG TIN CÁ NHÂN</span>
    </a>
    
    <a class="dashboard-module" href="@Url.Action("changePass", "NguoiDung")">
        <img width="64" height="64" alt="edit" src="../../Content/images/config.jpg"></img>
        <span>THAY ĐỔI MẬT KHẨU</span>
    </a>

    <a class="dashboard-module" href="@Url.Action("SetQuestions", "NguoiDung")">
        <img width="64" height="64" alt="edit" src="../../Content/images/settings-icon.jpg"></img>
        <span>CÂU HỎI BẢO MẬT</span>
    </a>

</div>