@{
    ViewBag.Title = "Báo giá khách hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/BaoGiaSanPham.css" rel="stylesheet" />

<h2>Báo giá khách hàng</h2>
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")

<script>

   
$(document).ready(function () {
    initalPage();
});
function initalPage() {
    /*disabled export excel*/
    $('#exportExcel').attr("disabled", "disabled");
    $('#exportExcel').css("background-color", "#ECECEC");
    /**AUTOCOMPLETE**/
    $("#TenSanPham").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "/SanPham/FindSuggestByTypeCustomer", data: "{ 'prefixText': '" + request.term + "' , 'typeCustomer' : '" + $("input[type='radio']:checked").val() + "'}",
                dataType: "json", type: "POST", contentType: "application/json; charset=utf-8",
                dataFilter: function (data) { return data; }, success:
                    function (data) {
                        response($.map(data, function (item) {
                            return {
                                lable: item.name,
                                value: item.name,
                                id: item.id,
                                price: item.price,
                                discount: item.discount
                            }
                        }))
                      
                    }, error: function (XMLHttpRequest, textStatus, errorThrown) { alert(textStatus); }
            });
            $('#tableSearch #MaSanPham').val('');
            $('#tableSearch #GiaBan').val('')
            $('#tableSearch #ChietKhau').val('')
            $('#tableSearch #GiaThuc').val('')
        },
        select: function (event, ui) {
            CalcRealPrice(ui.item.price, ui.item.discount);
            addCommaNumberic('#GiaThuc');
            $('#MaSanPham').val(ui.item.id);
            $('#TenSanPham').val(ui.item.label);
            $('#GiaBan').val(ui.item.price);
            addCommaNumberic('#GiaBan');
            $('#ChietKhau').val(ui.item.discount);
            addCommaNumberic('#ChietKhau');
            return false;
        },
        minLength: 1

    });
}
function addCommaNumberic(ctrlID) {
    $(ctrlID).val($(ctrlID).val().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"));
}
//function saveCurrentType() {
//    var selected = $("input[type='radio']:checked");
//    if (selected.length > 0) {
//        $('#currTypeCustomer').val(selected.val());
//    }
//}
function changeTypeCustomer(value) {
    //var title = "Xác nhận chuyển loại khách hàng"
    //var content = "Thao tác này có thể xóa hết dữ liệu hiện tại trên danh sách.<br/> Bạn hãy cân nhắc kỹ thao tác này nhé.<br/> Bạn chấp nhận thay đổi loại khách hàng không?";
    //var action = 1;
    //$('#Type' + value).click(fnOpenNormalDialog(title, content, action));

}

function confirmBack() {
    var title = "Xác nhận";
    var content = "Dữ liệu bạn đang thao tác có thể bị mất, bạn muốn tiếp tục hay không?"
    if ($("table.tableContentScroll tr").length == 0) {
        $('#hidBtnBack').click();
    } else {
        fnOpenConfirmDialog(title, content);
    }
}
function fnOpenConfirmDialog(title, content) {
    $("#dialogConfirm").html(content);
    $("#dialogConfirm").dialog({
        resizable: false,
        modal: true,
        title: title,
        height: 200,
        width: 550,
        buttons: {
            "Đồng ý": function () {
                $(this).dialog('close');
                $('#hidBtnBack').click();
            },
            "Không": function () {
                $(this).dialog('close');               
            }
        }
    });
}
function fnOpenNormalDialog(title, content, action) {
    //if ($("table.tableContentScroll tr").length == 0) {
    //    return;
    //}

    $("#dialogConfirm").html(content);
    switch(action)
    {
        //case 1:  // change type customer
        //    $("#dialogConfirm").dialog({
        //        resizable: false,
        //        modal: true,
        //        title: title,
        //        height: 200,
        //        width: 550,
        //        buttons: {
        //            "Đồng ý": function () {
        //                $(this).dialog('close');
        //                callback(true);
        //            },
        //            "Không": function () {
        //                $(this).dialog('close');
        //                callback(false);
        //            }
        //        }
        //    });
        //    break;
        //case 2: // duplicate product item
        //    $("#dialogConfirm").dialog({
        //        resizable: false,
        //        modal: true,
        //        title: title,
        //        height: 200,
        //        width: 550,
        //        buttons: {
        //            "Đóng": function () {
        //                $(this).dialog('close');
        //                $('#tableSearch #TenSanPham').select();
        //            }
        //        }
        //    });
        //    break
        case 3: // Not exist product
            $("#dialogConfirm").dialog({
                resizable: false,
                modal: true,
                title: title,
                height: 200,
                width: 550,
                buttons: {
                    "Đóng": function () {
                        $(this).dialog('close');
                        $('#tableSearch #TenSanPham').select();
                    }
                }
            });
            break
        default:
            break;
    }
}


//function callback(valueReturn) {
//    if (valueReturn) {
//        $("table.tableContentScroll tr").remove();
//        $('#exportExcel').attr("disabled", "disabled");
//        $('#exportExcel').css("background-color", "#ECECEC");
//    } else {
//        $('input:radio[value="' + $('#currTypeCustomer').val() + '"]').prop('checked', true);
//    }
//}
    

function addRecord() {
    if ($('#tableSearch #MaSanPham').val() != '') {
        //if ($('#tableContent input:hidden[name="' + $('#tableSearch #MaSanPham').val() + '"]').length > 0){
        //    var title = "Xác nhận"
        //    var content = "Đã tồn tại sản phẩm này trong danh sách bên dưới.<br/> Hãy kiểm tra lại danh sách bên dưới hoặc thêm sản phẩm khác ";
        //    var action = 2;
        //    $('#addRecord').click(fnOpenNormalDialog(title, content, action));
        //} else {
            prependNewRowToTable();
            $('#exportExcel').removeAttr("disabled", "disabled");
            $('#exportExcel').css("background-color", "");
        //}
    } else {
            var title = "Thông báo"
            var content = "Sản phẩm không tồn tại. Xin chọn sản phẩm khác thay thế.";
            var action = 3;
            $('#addRecord').click(fnOpenNormalDialog(title, content, action));
    }

}
function prependNewRowToTable() {
    var MaSP = $('#tableSearch #MaSanPham').val();
    var TenSP = $('#tableSearch #TenSanPham').val();
    var newRow = '';
    // avoid duplicate
    var count = $('#tableContent tr').length;
    var rowNum = MaSP + '_' + count;

    newRow += ' <tr class="rowHeight" id=\'' + rowNum + '\'> ';
    newRow += '<td style="width:20px;"> ';
    newRow += '  <div class="myCheckBox">';
    newRow += '  <img src="/Content/images/delete-20.png" style="cursor: pointer;" onclick="deleteRow(\'' + rowNum + '\');">';
    newRow += '   </div>';
    newRow += ' </td> ';
    newRow += ' <td  class="colProductNm textLeft"> ';


    newRow += ' <div  class="colProductNm tooltip truncate">';
    newRow += TenSP;
    newRow += '  <span>' + TenSP + '</span>';
    newRow += '  <input name="MaSanPham_' + rowNum + '" type="hidden" value="' + MaSP + '" />';
    newRow += '  <input name="TenSanPham_' + rowNum + '" type="hidden" value="' + TenSP + '" />';
    newRow += '   </div>';
    newRow += ' </td> ';
    newRow += ' <td class="colPrice textRight"> ';
    newRow += $('#tableSearch #GiaBan').val();
    newRow += '  <input name="GiaBan_' + rowNum + '" type="hidden" value="' + $('#tableSearch #GiaBan').val() + '" />';
    newRow += ' </td> ';
    newRow += '  <td  class="colDiscount textRight"> ';
    newRow += $('#tableSearch #ChietKhau').val();
    newRow += '  <input name="ChietKhau_' + rowNum + '" type="hidden" value="' + $('#tableSearch #ChietKhau').val() + '" />';
    newRow += ' </td>  ';
    newRow += '  <td class="colRealPrice textRight"> ';
    newRow += $('#tableSearch #GiaThuc').val();
    newRow += '  <input name="GiaThuc_' + rowNum + '" type="hidden" value="' + $('#tableSearch #GiaThuc').val() + '" />';
    newRow += ' </td> ';
    newRow += '  </tr> ';
    $('#tableContent').prepend(newRow);
    //reset value
    $('#tableSearch #TenSanPham').val('')
    $('#tableSearch #MaSanPham').val('')
    $('#tableSearch #GiaBan').val('')
    $('#tableSearch #ChietKhau').val('')
    $('#tableSearch #GiaThuc').val('')
}
function CalcRealPrice(price, discount) {
    if (price == 0 || discount == 0) {
        $('#tableSearch #GiaThuc').val(price);
    } else {
        $('#tableSearch #GiaThuc').val(roundToTwo(price - ((price * discount) / 100)));
    }
    
}
function roundToTwo(num) {
    return +(Math.round(num + "e+2") + "e-2");
}
function UpdateRealPrice() {
    if ('' == $('#MaSanPham').val() || null == $('#MaSanPham').val()) {
        return
    }
    var price = removeCommas($('#GiaBan').val());
    var discount = removeCommas($('#ChietKhau').val());
    if (null == price ){
        price = 0;
        $('#GiaBan').val('0');
    }
    if (null == discount) {
        discount = 0;
        $('#ChietKhau').val('0');
    }
    CalcRealPrice(price, discount);
    addCommaNumberic('#GiaThuc');
}

/*remove comma from value input*/
function removeCommas(str) {
    if (str != null && str != '') {
        return (str.replace(/,/g, ''));
    } else {
        return null;
    }

}
function deleteRow(rowId) {
    $('#' + rowId).remove();
    if ($("table.tableContentScroll tr").length == 0) {
        $('#exportExcel').attr("disabled", "disabled");
        $('#exportExcel').css("background-color", "#ECECEC");
    } else {
        $('#exportExcel').removeAttr("disabled", "disabled");
        $('#exportExcel').css("background-color", "");
        
    }
}

function exportExcel() {

    var listProductNo = '';
    var indx = 0;
    $('#tableContent tr').each(function () {
        listProductNo +=  this.id
        if (indx < ($('#tableContent tr').length -1)) {
            listProductNo += ','
        }
        indx += 1; 
    })

    $('#ListProductID').val(listProductNo);
    $('#formContent').submit();
  
}
function reset() {
    initalPage();
    $("table.tableContentScroll tr").remove();
    $("input[name='groupcustomer'][value='" + 1 + "']").attr('checked', 'checked');
}
/*start format numberic*/
function NumbericOnly(ctrl) {
    $(ctrl).keypress(function (e) {

        //getting key code of pressed key
        var keycode = (e.which) ? e.which : e.keyCode;
        //comparing pressed keycodes

        if (keycode > 31 && (keycode < 48 || keycode > 57) && keycode != 46) {
            //alert("Hãy nhập ký tự số.");
            return false;
        }
        else return true;
    });

}
function formatNumberic() {
    $('input.numberic').each(function () {
        $(this).val($(this).val().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"));
    });
}
$(document).ready(function () {
    formatNumberic();
    $('input.numberic').keypress(function (key) {
        var keycode = (key.which) ? key.which : key.keyCode;
        //comparing pressed keycodes

        if (keycode > 31 && (keycode < 48 || keycode > 57) && keycode != 46) {
            //alert(" Hãy nhập ký tự số.");
            return false;
        }
        else return true;

    });
    $('input.numberic').keyup(function (event) {
        // skip for arrow keys
        if (event.which >= 37 && event.which <= 40) {
            //event.preventDefault();
            return true;
        }
        FormatNumberic_KeyUp($(this));
        
    });
    $('input.numberic').bind("paste", function (e) {
        e.preventDefault();
    });
});

function FormatNumberic_KeyUp(obj) {
    var $this = $('#' + obj.id);
    var AmountWithCommas = $this.val();
    var DecimalSeparator = Number("1.2").toLocaleString().substr(1, 1);
    var arParts = String(AmountWithCommas).split(DecimalSeparator);

    var intPart = arParts[0];
    var decPart = (arParts.length > 1 ? arParts[1] : '');

    var num = intPart.replace(/,/gi, "").split("").reverse().join("");
    var num2 = RemoveRougeChar(num.replace(/(.{3})/g, "$1,").split("").reverse().join(""));
    if (decPart.length > 2) {
        decPart = (decPart + '00').substr(0, 2);
    }
    if (arParts.length > 1) {
        $this.val(num2 + DecimalSeparator + decPart);
    } else {
        $this.val(num2);
    }
}

function RemoveRougeChar(convertString) {
    if (convertString.substring(0, 1) == ",") {
        return convertString.substring(1, convertString.length)
    }
    return convertString;
}
/*end format numberic*/
</script>
}
<hr />
<div>
    <span style="font-size:17px;">> Lựa chọn loại khách hàng : </span>
    <br />
    <div style="margin-left: 45px;">
        <input type="radio" name="groupcustomer" id="Type1" checked="checked" value="1" 
               @*onmousedown="saveCurrentType();"*@ onchange="    changeTypeCustomer(1);">
        <span style="font-size:15px;"> Khách hàng công ty , công trình</span>
    <br />
    <input type="radio" name="groupcustomer" id="Type2" value="2" 
           @*onmousedown="saveCurrentType();"*@ onchange="changeTypeCustomer(2);">
        <span style="font-size:15px;"> Khách hàng thân thiết</span>
    <br />
    <input type="radio" name="groupcustomer" id="Type3" value="3"
            @*onmousedown="saveCurrentType();"*@ onchange="changeTypeCustomer(3);">
        <span style="font-size:15px;"> Khách hàng thường</span>
</div>
    <div id="dialogConfirm">       
    </div>
    @*<input type="hidden" id="currTypeCustomer" />*@
</div>
<div class="mainContainer">
    <table class="tableHeader">     
        <tbody>
            <tr >
                <th style="width: 23px; padding: 0.5em 0em 0em 0em !important; ">
                    <div class="myCheckBox">
                        <img src="/Content/images/delete-20.png" style="display:none;">
                        </div>
                </th>
                <th class="colProductNmHeader">
                    <div class="colProductNmHeader">
                        Tên sản phẩm
                    </div>
                </th>
                <th class="colPriceHeader">
                    Giá bán
                </th>
                <th class="colDiscountHeader">
                    Chiết khấu (%)
                </th>
                <th class="colRealPriceHeader">
                    Giá thực
                </th>
                <th id="columnScroll" style="width: 16px;">
                </th>
            </tr>
            
        </tbody>
    </table>
    <div>
        <table id="tableSearch" class="tableSearch">
            <tr>
                <td style="width: 20px; padding: 0.5em 0em 0em 0em !important; ">
                    <div class="myCheckBox">
                        <img src="/Content/images/plus.png" style="cursor: pointer;" onclick="addRecord();">
                        </div>
                </td>
                <td style="width: 320px;">
                    <input type="hidden" id="MaSanPham" />
                    <input type="text" id="TenSanPham" style="width: 240px; margin-left: 2px; " />
                </td>
                <td style="width: 290px;">
                    <input type="text" id="GiaBan" maxlength="10" onblur="return UpdateRealPrice();"
                           class="numberic" onkeydown="NumbericOnly(this);" onkeyup="FormatNumberic_KeyUp(this);"
                           style="width: 213px; margin-left: -24px; text-align:right; "/>
                </td>
                <td style="width: 140px;">
                    <input type="text" id="ChietKhau" maxlength="5" onblur="return UpdateRealPrice();"
                           class="numberic" onkeydown="NumbericOnly(this);" onkeyup="FormatNumberic_KeyUp(this);"
                           style="width: 102px; margin-left: -24px; text-align:right; " />                   
                </td>
                <td style="width: 290px;">
                    <input type="text" id="GiaThuc" maxlength="10"
                           style="width: 215px; margin-left: -24px; text-align:right; background: rgb(252, 252, 252)" readonly/>
                </td>
            </tr>

        </table>
    </div>
    @using (Html.BeginForm("ExportExcel", "SanPham", FormMethod.Post,
        new { @id = "formContent", enctype = "multipart/form-data" }))
        
    {
        <div class="mainContentScroll">
            <table id="tableContent" class="tableContentScroll">          
                <tbody >                          
                </tbody>
            </table>
        </div>
    <input type="hidden" id="ListProductID" name="ListProductID" value="" />
    }
</div>
<hr />
<div>
    <input type="button" id="exportExcel" style="width:100px" value="Xuất Excel" onclick="exportExcel();" />
    <input type="button" id="reset" style="width:135px" value="Tạo mới báo giá" onclick="reset();" />
    
    <input type="button" style="width:100px" value="Trở về" onclick="confirmBack();" />
    <input type="button" id="hidBtnBack" style="display:none" onclick="location.href='@Url.Action("Index", "SanPham")'" />
</div>

