@{
    ViewBag.Title = "Index";
}

<h2>Danh </h2>
@helper sortLink(string name, int id)
{
    <a href="@Url.Action("CountryList", "GridView", new { sortby = id, search = @Model.Search, isasc = (id == Model.sortBy ? (!Model.isAsc).ToString() : "true"), TotalCount = Model.TotalPages })">@name</a>
    if (id == Model.sortBy)
    {
    <span class="arrow @(Model.isAsc ? "up" : "down")"></span>
    }
}
<table class="FilterTable">
 
    <tr>
        <th>Mã Đơn Vị</th>
        <th>Tên đơn vị</th>
        <th>Ghi Chú</th>
    </tr>
 
    
</table>