@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Lỗi";
}
<h2 style="color:red">
    Đã có lỗi phát sinh trong quá trình xử lý. Vui lòng liên hệ admin.
  <br />
</h2>
<p >
    <!-- Place message want to show here -->
    <h3 style="color:red">
        @ViewBag.Message
        @Model.Exception.Message
    </h3>
</p>
