
div.mainContainer {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    /*width: 870px;*/
    height: 500px;
    overflow: hidden;
    border: 1px solid black;
}

div.mainContentScroll {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    /*width: 871px;*/
    width:958px;
    height: 442px;
    overflow: auto;
}

.tableHeader {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    background: #B4CFC3;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
    /*border-top: 1px solid #666;*/
    border-bottom: 1px solid #666;
    /*font-weight: normal;*/
    /*padding: 4px 3px;*/
    /*width: 870px;*/
    height: 20px;
    
}
.tableContentScroll {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    /*width: 853px;*/
    width:942px;
    table-layout: fixed;
}

table.tableSearch{
    margin-top: -6px;
    margin-bottom: -7px;
}

table.tableBasic td{
   padding: 0em 1em 0em 0em !important;
}

table.tableHeader th {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    background: #B4CFC3;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
    /*border-top: 1px solid #666;*/
    border-bottom: 1px solid #666;
    /*font-weight: normal;
    padding: 4px 3px;*/
    text-align: center !important;
    height: 20px;
}
table.tableHeader th:first-child {
    border-left:none;
}
table.tableContentScroll tr {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}
table.tableContentScroll td{
    border: 1px solid #666;
   padding: 0em 0em 0em 0em !important;
  
}
table.tableSearch input[type="text"] {
   width:225px !important;
}
input[type="radio"] {
    width: 32px !important;
}
.colDelete {
    margin-left: 2px;
}
.myAction {
    margin-left: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btnAddRecord {
    margin-left: -12px;
    height: 29px;
    width: 65px !important;
    background-color:  #A0ADF1 !important;
}
.btnPrintList {
    height: 29px;
    width: 65px !important;
    background-color: #A0ADF1 !important;
}
.rowHeight {
    height: 29px;
}
table.tableContentScroll tr:nth-child(even) {
    background: #E2F7FF;
}

table.tableContentScroll tr:nth-child(odd) {
    background: #FFF;
}

.textRight{
    text-align:right;
}
.textLeft{
    text-align:left
}
.textCenter{
    text-align:center
}
/*header s*/
.colProductNmHeader{
    width: 184px;
}

.colStoreHeader{
    width:150px;
}
.colPriceHeader{
    width:180px;
}
.colAmountHeader{
    width:100px;
}
.colUnitHeader{
    width:150px;
}
.colTotalHeader{
    width:180px;
}
/*header e*/
/*content s*/
.colProductNm {
    width: 184px;
    padding-left: 2px !important;
}

.colStore {
    width: 137px;
    padding-left: 2px !important;
}
.colPrice{
    width:165px;
}
.colAmount{
    width:95px;
}
.colUnit{
    width:138px;
}
.colTotal{
    width:167px;
}
/*content e*/
.hiddenColScroll{
    border-right: 1px solid #FFF;
    border-top: 1px solid #FFF;
    background-color: #FFF !important;
}

/*end css tooltip*/
.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*start details product*/
.relationProduct {
    outline: none;
}
.relationProduct strong {
    line-height: 30px;
}
.tooltip:hover {
    text-decoration: none;
}
div.relationProduct span {
    z-index: 10;
    display: none;
    padding: 14px 20px;
    margin-top: -30px;
    margin-left: 28px;
    width: 240px;
    line-height: 16px;
}
div.relationProduct:hover span {
    display: inline;
    position: absolute;
    color: #111;
    border: 1px solid #DCA;
    background: #fffAF0;
}
.callout {
    z-index: 20;
    position: absolute;
    top: 30px;
    border: 0;
    left: -12px;
}
    
/*CSS3 extras*/
div.relationProduct span {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-box-shadow: 5px 5px 8px #CCC;
    -webkit-box-shadow: 5px 5px 8px #CCC;
    box-shadow: 5px 5px 8px #CCC;
}

div.relationProductShow div {
    display: inline;
    position: absolute;
    color: #111;
    border: 1px solid #DCA;
    background: #C5EAF3;

    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-box-shadow: 5px 5px 8px #CCC;
    -webkit-box-shadow: 5px 5px 8px #CCC;
    box-shadow: 5px 5px 8px #CCC;
}
/*end details product*/

/*start details customer*/
.relationCustomer {
    outline: none;
}
.relationCustomer strong {
    line-height: 30px;
}

div.relationCustomer span {
    z-index: 10;
    display: none;
    padding: 14px 20px;
    margin-top: -30px;
    margin-left: 28px;
    width: 240px;
    line-height: 16px;
}
div.relationCustomer:hover span {
    display: inline;
    position: absolute;
    color: #111;
    border: 1px solid #DCA;
    background: #fffAF0;
}

    
/*CSS3 extras*/
div.relationCustomer span {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-box-shadow: 5px 5px 8px #CCC;
    -webkit-box-shadow: 5px 5px 8px #CCC;
    box-shadow: 5px 5px 8px #CCC;
}

div.relationCustomerShow div {
    display: inline;
    position: absolute;
    color: #111;
    border: 1px solid #DCA;
    background: #C5EAF3;

    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-box-shadow: 5px 5px 8px #CCC;
    -webkit-box-shadow: 5px 5px 8px #CCC;
    box-shadow: 5px 5px 8px #CCC;
}
/*end details customer*/

div.HideElement {
    display: none;
}
div.titleItem{
    margin-bottom: -18px;
    font-size:16px;
}
select.ComboboxCustomer {
    height: 30px;
    font-size: 15px;
    margin-bottom: 7px;
    width: 238px;
    margin-top: 7px;
}
select.Combobox {
    height: 30px;
    font-size: 15px;
    width: 238px;   
    margin-bottom: 3px;
    margin-top: 7px;

}
.alignCenter{
    text-align:center;
}
.alignNumberic{
    text-align:right;
}
.alignText{
    text-align:left;
    text-wrap:normal;
}

.colCustomerNo{
   width: 225px !important;
   margin-left: 2px; 
}
.colCustomerName{
   width: 280px !important;
   margin-left: 2px; 
}
.required:after {
    color: #e32;
    content: ' (*)';
    display:inline;
}

table.tableTotal{
    margin-right: 16px;
}
table.tableTotal td{
     padding: 0.25em 0.25em 0.25em 0em !important;
}
td.colTitleTotal {
    text-align: right;
    width: 800px;
    font-weight: bold;
    font-size: medium;
}
td.colTotalValue {
    width: 192px;
    text-align: right;
    background-color: rgb(220, 224, 238);
    font-weight: bold;
    font-size: medium;
}
/*hide button close in dialog s*/
.ui-dialog-titlebar-close {
  visibility: hidden;
}
/*hide button close in dialog e*/
div.colum3{
    margin-left:-115px;
}
hr.mydashed{
    border: dashed 1px rgb(167, 167, 231);
}