
ALTER PROCEDURE [dbo].[SP_GET_NHAP_XUAT]
@MA_KHO INT,
@TEN_KHO NVARCHAR(200),
@MA_SAN_PHAM INT, 
@TEN_SAN_PHAM NVARCHAR(200),
@FROM_DATE DATE, 
@TO_DATE DATE
AS
BEGIN
	SELECT 
		V_NHAP_XUAT_DETAIL.NGAY_NHAP_XUAT, 
		V_NHAP_XUAT_DETAIL.MA_SAN_PHAM, 
		SAN_PHAM.TEN_SAN_PHAM, 
		DON_VI_TINH.TEN_DON_VI,
		ISNULL(SUM(V_NHAP_XUAT_DETAIL.SO_LUONG_NHAP), 0) SO_LUONG_NHAP, 
		ISNULL(SUM(V_NHAP_XUAT_DETAIL.SO_LUONG_XUAT),0) SO_LUONG_XUAT
	FROM 
		V_NHAP_XUAT_DETAIL, 
		KHO,
		SAN_PHAM, 
		DON_VI_TINH
	WHERE
		(@MA_KHO IS NULL OR @MA_KHO = 0 OR V_NHAP_XUAT_DETAIL.MA_KHO = @MA_KHO)
		AND (@MA_SAN_PHAM IS NULL OR @MA_SAN_PHAM = 0 OR V_NHAP_XUAT_DETAIL.MA_SAN_PHAM = @MA_SAN_PHAM)
		AND (@FROM_DATE IS NULL OR V_NHAP_XUAT_DETAIL.NGAY_NHAP_XUAT >= @FROM_DATE)
		AND (@TO_DATE IS NULL OR V_NHAP_XUAT_DETAIL.NGAY_NHAP_XUAT <= @TO_DATE)
		AND (@TEN_SAN_PHAM IS NULL OR @TEN_SAN_PHAM = '' OR SAN_PHAM.TEN_SAN_PHAM LIKE '%' + @TEN_SAN_PHAM + '%')
		AND (@TEN_KHO IS NULL OR @TEN_KHO = '' OR UPPER(KHO.TEN_KHO) LIKE '%' + UPPER(@TEN_KHO) + '%')
		AND V_NHAP_XUAT_DETAIL.MA_SAN_PHAM = SAN_PHAM.MA_SAN_PHAM
		AND SAN_PHAM.MA_DON_VI = DON_VI_TINH.MA_DON_VI
	GROUP BY 
		V_NHAP_XUAT_DETAIL.NGAY_NHAP_XUAT, 
		V_NHAP_XUAT_DETAIL.MA_SAN_PHAM, 
		SAN_PHAM.TEN_SAN_PHAM, 
		DON_VI_TINH.TEN_DON_VI
	ORDER BY V_NHAP_XUAT_DETAIL.NGAY_NHAP_XUAT
END


ALTER PROCEDURE [dbo].[SP_GET_HOA_DON_EXPORTED]
@MA_HOA_DON INT, 
@SO_HOA_DON VARCHAR(30), 
@MA_KHACH_HANG INT,
@TEN_KHACH_HANG NVARCHAR(100),
@FROM_DATE DATE, 
@TO_DATE DATE
AS
BEGIN
	SELECT 
		MA_HOA_DON, 
		SO_HOA_DON, 
		MA_KHACH_HANG, 
		TEN_KHACH_HANG, 
		MA_NHAN_VIEN_BAN, 
		TEN_NHAN_VIEN_BAN, 
		NGAY_BAN, 
		NGAY_GIAO, 
		DIA_CHI_GIAO_HANG, 
		MA_NHAN_VIEN_THU_TIEN, 
		TEN_NV_THU_TIEN, 
		SO_TIEN_KHACH_TRA, 
		SO_TIEN_NO_GOI_DAU
	FROM 
		V_HOA_DON_DISTICNT
	WHERE 
		V_HOA_DON_DISTICNT.MA_HOA_DON IN (SELECT MA_HOA_DON FROM XUAT_KHO WHERE ACTIVE = 'A')
	AND (@MA_HOA_DON = 0 OR  MA_HOA_DON = @MA_HOA_DON)
	AND (@SO_HOA_DON IS NULL OR @SO_HOA_DON = '' OR SO_HOA_DON LIKE '%' + @SO_HOA_DON + '%')
	AND (@MA_KHACH_HANG = 0 OR MA_KHACH_HANG = @MA_KHACH_HANG)
	AND (@TEN_KHACH_HANG IS NULL OR @TEN_KHACH_HANG = '' OR TEN_KHACH_HANG LIKE '%' + @TEN_KHACH_HANG + '%')
	AND (@FROM_DATE IS NULL OR CAST(NGAY_BAN AS DATE) >= CAST(@FROM_DATE AS DATE))
	AND (@TO_DATE IS NULL OR CAST(NGAY_BAN AS DATE) <= CAST(@TO_DATE AS DATE))
END

ALTER PROCEDURE [dbo].[SP_GET_HOA_DON_DETAIL_FOR_RETURN]
@MA_HOA_DON INT
AS
BEGIN
	SELECT 
		MA_SAN_PHAM, 
		TEN_SAN_PHAM, 
		TEN_DON_VI,
		SO_LUONG, 
		SO_LUONG SO_LUONG_BAN,
		(ISNULL(DON_GIA,0) - ISNULL(DON_GIA,0)*ISNULL(PHAN_TRAM_CHIEC_KHAU,0)/100)*90/100 DON_GIA, 
		SO_LUONG*(ISNULL(DON_GIA,0) - ISNULL(DON_GIA,0)*ISNULL(PHAN_TRAM_CHIEC_KHAU,0)/100)*90/100 THANH_TIEN
	FROM 
		V_HOA_DON
	WHERE 
		MA_HOA_DON = @MA_HOA_DON
	AND MA_HOA_DON IN (SELECT MA_HOA_DON FROM XUAT_KHO WHERE ACTIVE = 'A')
END