
@using (Ajax.BeginForm("SearchAdvance", "SanPham", 
    new AjaxOptions {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "mainDiv"}))
    {
    @*@Html.ValidationSummary(true)*@

    <table id="conditionAdvanceTbl" class="advanceClass" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td width="25%">             
            </td>
            <td></td>
        </tr>
     
     </table>
    <hr />
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td width="80%">
                <div style="vertical-align: middle">
                    <select id="addOption" onchange="RenderControls();" style="height:30px;">
                        <option value="-1">Chọn hạng mục</option>
                        <option value="0">Tên sản phẩm</option>
                        <option value="1">Kích thước</option>
                        <option value="2">Trọng lượng</option>
                        <option value="3">Đơn vị tính</option>
                        <option value="4">Nhà sản xuất</option>
                        <option value="5">Đặc tả</option>
                        <option value="6">Giá bán </option>
                        <option value="7">Chiết khấu </option>
                        <option value="8">Cơ số</option>
                        <option value="9">Nhóm sản phẩm</option>
                    </select>
                    <input type="submit" value="Thiết lập" style="height:30px;width:79px;" />
                </div>
                
            </td>
            <td>
                
            </td>
        </tr>
    </table>
    }


