

ALTER PROCEDURE [dbo].[SP_GET_MIN_MAX_BY_STORE]
@STORE_ID INT, 
@PRODUCT_GROUP_ID INT, 
@PRODUCT_NAME NVARCHAR(100)
AS
BEGIN
	SELECT 
	TON_KHO_MIN_MAX_KHO.ID,
	TON_KHO_MIN_MAX_KHO.MA_KHO,
	SAN_PHAM.MA_SAN_PHAM,
	SAN_PHAM.TEN_SAN_PHAM, 
	ISNULL(TON_KHO_MIN_MAX_KHO.CO_SO_TOI_THIEU,0) CO_SO_TOI_THIEU,
	ISNULL(TON_KHO_MIN_MAX_KHO.CO_SO_TOI_DA, 0) CO_SO_TOI_DA,
	DON_VI_TINH.MA_DON_VI,
	DON_VI_TINH.TEN_DON_VI
	FROM
	TON_KHO_MIN_MAX_KHO,
	SAN_PHAM,
	DON_VI_TINH,
	NHOM_SAN_PHAM
	WHERE
	(@STORE_ID = 0 OR TON_KHO_MIN_MAX_KHO.MA_KHO = @STORE_ID)
	AND (@PRODUCT_GROUP_ID = 0 OR SAN_PHAM.MA_NHOM = @PRODUCT_GROUP_ID)
	AND (@PRODUCT_NAME IS NULL OR @PRODUCT_NAME  = '' OR UPPER(SAN_PHAM.TEN_SAN_PHAM) LIKE '%' + UPPER(@PRODUCT_NAME) + '%')
	AND SAN_PHAM.ACTIVE = 'A'
	AND TON_KHO_MIN_MAX_KHO.ACTIVE = 'A'
	AND SAN_PHAM.MA_SAN_PHAM = TON_KHO_MIN_MAX_KHO.MA_SAN_PHAM
	AND SAN_PHAM.MA_NHOM = NHOM_SAN_PHAM.MA_NHOM
	AND SAN_PHAM.MA_DON_VI = DON_VI_TINH.MA_DON_VI
	AND TON_KHO_MIN_MAX_KHO.MA_SAN_PHAM = SAN_PHAM.MA_SAN_PHAM
END

