<link href="../../Content/css/style.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "BÁN HÀNG";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>CỬA HÀNG TRANG THIẾT BỊ NGÀNH NƯỚC</h1>
                <br />
                <h2> SMS - Store Managemanet System </h2>
            </hgroup>
        </div>
    </section>
}
<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>
<div class="grid_7">

    <a class="dashboard-module" href="@Url.Action("Index", "KhachHang")">
        <img width="64" height="64" alt="edit" src="../../Content/images/customer.jpg"></img>
        <span>DANH SÁCH KHÁCH HÀNG</span>
    </a>

    <a class="dashboard-module" href="#">
        <img width="64" height="64" alt="edit" src="../../Content/images/Crystal_Clear_write.gif"></img>
        <span>BÁN HÀNG</span>
    </a>
    <a class="dashboard-module" href="#">
        <img width="64" height="64" alt="edit" src="../../Content/images/Crystal_Clear_write.gif"></img>
        <span>THU TIỀN</span>
    </a>
    <a class="dashboard-module" href="#">
        <img width="64" height="64" alt="edit" src="../../Content/images/Crystal_Clear_write.gif"></img>
        <span>DANH SÁCH HÓA ĐƠN</span>
    </a>
    <a class="dashboard-module" href="#">
        <img width="64" height="64" alt="edit" src="../../Content/images/Crystal_Clear_write.gif"></img>
        <span>NHẬN TRẢ HÀNG</span>
    </a>
    <a class="dashboard-module" href="#">
        <img width="64" height="64" alt="edit" src="../../Content/images/Crystal_Clear_write.gif"></img>
        <span>TRẢ HÀNG CHO NHÀ CUNG CẤP</span>
    </a>
</div>