<link href="../../Content/css/style.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "QUẢN LÝ KHO - XỬ LÝ HÀNG TRẢ";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>CÔNG TY TRÁCH NHIỆM HỮU HẠN VÂN PHƯỚC.</h1>
                <br />
                <h2> SMS - Store Management System </h2>
            </hgroup>
        </div>
    </section>
}


<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>
<div class="grid_7">
    <a class="dashboard-module" href="@Url.Action("ReturnPurchaseList", "CustomerRefund")">
        <img width="64" height="64" alt="edit" src="../../Content/images/Chargeback.png"></img>
        <span>DS NHẬN HÀNG TRẢ TỪ KHÁCH HÀNG</span>
    </a>
    <a class="dashboard-module" href="@Url.Action("ListOfToProvider", "TraHang")">
        <img width="64" height="64" alt="edit" src="../../Content/images/list2.jpg"></img>
        <span>DS PHIẾU TRẢ HÀNG - NHÀ CUNG CẤP </span>
    </a>
</div>